//BaseStyling
.buttonStyling{
    border: none;
}


//color
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

//size
.small{
    padding: 1vw 2vw;
}

.medium{
    padding: 2vw 4vw;
}

.large{
    padding: 4vw 8vw;
}

//CustomStyling

.disabled{
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.8;
}
