@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

//BaseStyling
.cardStyling {
  img {
    width: 100%;
  }

  h1 {
    @extend %trebuc;
  }

  p {
    @extend %trebuc;
  }
}

//Custom Styling
.newsCard {
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    height: 50%;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    height: 50%;

    h1 {
      text-align: left;
      font-size: 1.2vw;
      font-weight: 500;
      margin-bottom: 1vw;
    }

    p {
      text-align: left;
      font-size: 0.9vw;
    }

    button {
      margin-top: auto;
      align-self: flex-start;
    }
  }
}

.purple, .blue, .green, .red{
  text-align: left;
  aspect-ratio: 1 / 1;
  height: fit-content;
  
  img{
    height: 68%;
    object-fit: cover;
  }

  color: $white;

  div{
    padding: 1vw 1vw;

    h1{
      font-size: 1.6vw;
    }

    p{
      font-size: 1.7vw;
    }
  }

}

.purple{
  background-color: $purple;
}

.blue{
  background-color: $blue;
}

.green{
  background-color: $green;
}

.red{
  background-color: $red;
}

