@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

//BaseStyling
.cardStyling {
  img {
    width: 100%;
  }

  h1 {
    @extend %trebuc;
  }

  p {
    @extend %trebuc;
  }
}

//Custom Styling
.newsCard {
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    height: 50%;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    height: 50%;

    h1 {
      text-align: left;
      font-size: 1.2vw;
      font-weight: 500;
      margin-bottom: 1vw;
    }

    p {
      text-align: left;
      font-size: 0.9vw;
    }

    button {
      margin-top: auto;
      align-self: flex-start;
    }
  }

  @media screen and (max-width: 1300px) {
    div {
      h1 {
        font-size: 1.7vw;
      }

      p {
        font-size: 1.2vw;
        margin-bottom: 1vw;
      }
    }
  }

  @media screen and (max-width: 1050px) {

    div {
      h1 {
        font-size: 2.5vw;
      }

      p {
        font-size: 1.6vw;
        margin-bottom: 2vw;
      }
    }
  }

  @media screen and (max-width: 750px) {

    div {
      height: 50%;
      h1 {
        font-size: 5vw;
      }

      p {
        font-size: 4vw;
        margin-bottom: 1vw;
      }
    }
  }
}

.purple,
.blue,
.green,
.red {
  text-align: left;
  aspect-ratio: 1 / 1;
  height: fit-content;
  cursor: pointer;

  img {
    height: 60%;
    object-fit: cover;
  }

  color: $white;

  div {
    padding: 1vw 1vw;

    h1 {
      font-size: 1.6vw;
    }

    p {
      font-size: 1.7vw;
    }
  }
}

.purple {
  background-color: $purple;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.red {
  background-color: $red;
}

.campCard {
  display: flex;
  flex-direction: row;
  background-color: $blue;
  padding: 2vw;
  margin: 2vw 0;
  position: relative;

  @extend %trebuc;
  color: white;

  div {
    margin: 0 2vw;
  }

  h1 {
    text-align: left;
    font-size: 2vw;
    margin-bottom: 0.5vw;
  }

  h3 {
    text-align: left;
    margin-top: 2vw;
    margin-bottom: 0.5vw;
    font-size: 1.3vw;
    font-weight: 400;
  }

  p {
    text-align: left;
    font-size: 1vw;
  }
  img {
    width: 25%;
    object-fit: cover;
  }
  &:nth-child(3) {
    flex-direction: row-reverse;
    background-color: $green;
  }

  &:nth-child(4) {
    background-color: $purple;
  }

  span {
    ul {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        padding-right: 1vw;
        font-size: 1vw;
      }
    }
  }
}
