@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;

.inputStyling{
    border: none;
    outline: none;
    padding: 0.5vw 0 0.5vw 0.5vw;
    width: 20vw;
    background-color: $white;
    font-size: 1vw;

    &::placeholder{
        color: $black;
        @extend %trebuc;
        font-size: 1vw;
    }

}

//Custom styling
.invalid{
    border: 1px solid red;
}