@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;

.inputStyling{
    border: none;
    outline: none;
    padding: 0.5vw 0 0.5vw 0.5vw;
    width: 20vw;
    background-color: $white;
    font-size: 1vw;

    &::placeholder{
        color: $black;
        @extend %trebuc;
        font-size: 1vw;
    }

    @media screen and (max-width: 1300px){
        font-size: 1.5vw;

        &::placeholder{
            font-size: 1.5vw;
        }
    }

    @media screen and (max-width: 1050px){
        font-size: 2vw;
        width: 30vw;

        &::placeholder{
            font-size: 2vw;
        }
    }

    @media screen and (max-width: 1050px){
        font-size: 4vw;
        width: 50vw;

        &::placeholder{
            font-size: 4vw;
        }
    }

}

//Custom styling

.login{
    border: 2px solid lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 15vw;

    &::placeholder{
        color: grey;
    }
}

.invalid{
    border: 1px solid red;
}