@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.headerStyling {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 2fr;
  box-shadow: 0px 10px 8px rgba(5, 5, 5, 0.31);
  position: relative;
  z-index: 999;
  align-items: flex-end;
  padding: 1vw 0;

  div {
    display: none;
  }

  img {
    padding-left: 5vw;
    display: block;
    margin: auto;
    width: 60%;
    margin-bottom: -1vw;
  }

  h2 {
    @extend %brush;
    font-weight: 200;
    font-size: 1.5vw;
    margin-left: -2vw;
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: 1.5fr 0.5fr 2.5fr;

    h2 {
      font-size: 1.5vw;
      margin-left: -4vw;
    }

    img {
      width: 50%;
      margin-bottom: -0.5vw;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr 0.5fr 3fr;
    padding: 2vw 0;

    h2 {
      font-size: 1.5vw;
      margin-left: 0;
    }

    img {
      width: 80%;
      margin-bottom: -0.5vw;
      padding-left: 1vw;
    }
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    padding: 2vw 0;

    div {
      display: block;
      position: absolute;
      top: 20%;
      left: 5%;

      svg {
        width: 10vw;
        height: 10vw;
      }
    }

    h2 {
      font-size: 4vw;
      text-align: center;
      margin-left: 0;
    }

    img {
      width: 50%;
      margin-bottom: -0.5vw;
    }
  }
}
