.column-1 {
  grid-template-columns: 1fr;
}

.column-2 {
  grid-template-columns: 1fr 1fr;
}

.column-3 {
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr 1fr;
  }
}

.column-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.column-7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.column-8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridStyling {
  display: grid;
  gap: 1vw 2vw;

  @media screen and (max-width: 1050px) {
    gap: 3vw;
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    gap: 8vw;
  }
}

.one {
  gap: 1.5vw 1.5vw;
}
